extends layout

block content
    .container
        h2 About Us
        p This website allows users to share their favorite recipes and discover new ones.
        p We believe cooking is an art that brings people together.
