extends layout

block content
    .container
        h2 Welcome to the Recipe Sharing Website
        p Share and explore delicious recipes from around the world!
        p For more options, navigate using the links above.
