extends layout

block content
    .container
        h2 Sign In
        form(action='/sign-in', method='post')
            label(for='email') Email:
            input(type='email', name='email', required)
            br
            label(for='password') Password:
            input(type='password', name='password', required)
            br
            button(type='submit') Sign In
