extends layout

block content
    .container
        h2 Submit a Recipe
        form(action='/add-recipe', method='post')
            label(for='title') Recipe Title:
            input(type='text', name='title', required)
            br
            label(for='category') Category:
            input(type='text', name='category', required)
            br
            label(for='ingredients') Ingredients:
            textarea(name='ingredients', required)
            br
            label(for='instructions') Instructions:
            textarea(name='instructions', required)
            br
            button(type='submit') Submit Recipe
